      <div id="wrap" class="wrap main-section container" role="document">

          <h1 id="page-title">Poverty indicators</h1>

          <div id="measure-selector">

          <div class="btn-group">
<!--               <button class="btn dropdown-toggle" data-toggle="dropdown" href="#">Groups experiencing poverty <span class="caret"></span> -->
              <button class="btn dropdown-toggle" data-toggle="dropdown">Choose indicator... <span class="caret"></span>
              </button>
                  <ul class="dropdown-menu poverty-groups">
                      <!-- dropdown menu links -->
                  </ul>
          </div>

<!--           <div class="btn-group">
              <button class="btn dropdown-toggle" data-toggle="dropdown" href="#">Causes and consquences of poverty <span class="caret"></span>
              </button>

                  <ul class="dropdown-menu poverty-causes">
                  </ul>
          </div> -->

          </div>

          <h2 id="measure-name"></h2>

          <div id="description-link"></div>

          <div class="row" id="chart-row">
              <!-- C3 Charts misbehaves and spills out to the right. Counter
                   this behaviour by keeping a blank column on the right.    -->
              <div class="col-md-11 col-sm-11 col-xs-11" id="chart"></div>
          </div>
          <div class="row">
              <div class="col-md-6" id="map"></div>
              <div class="col-md-6" id="table"></div>
          </div>

          <div class="links">
              Links:
              <ul id="list-of-links">
              </ul>
          </div>
      </div>

