<div class="container">
    <div class="page-header">
        <h1> Child Poverty		  </h1>
    </div>

    <strong>Indicator:</strong> The estimated percentage of children living in households on low incomes after housing costs.
    <div class="highlighted featured">
        <h3>Overview</h3>
        <ul>
            <li>
                <h4>On average, more than 1 in 4 children in local authorities across Greater Manchester were living in poverty in 2013.</h4>
            </li>
            <li>
                <h4>The City of Manchester (39.27 per cent) had the highest rate of child poverty in Greater Manchester in 2013 compared to Trafford (20.54 per cent) which had the lowest.</h4>
            </li>
        </ul>
    </div>
    <hr />

    <h3>Child Poverty in Greater Manchester as a whole</h3>
    <ul>
        <li>Estimates of child poverty rates are available for local authorities, not for Greater Manchester as a whole.  The average rate for local authorities in Greater Manchester in 2013 was 3.22 percentage points higher than the average for England as a whole.</li>
    </ul>
    <table border="0" width="100%">
        <tbody>
            <tr>
                <td bgcolor="#EEEEED">Chart 1: On average 28.32 per cent of children in Greater Manchester local authorities were living in poverty in 2013.</td>
            </tr>
        </tbody>
    </table>
    <iframe src="http://docs.google.com/spreadsheets/d/16dJ5DPH_N80NXn76Gh9CwV-t4IOe146w6IzATBrLJS8/gviz/chartiframe?oid=42325865" width="578" height="258" frameborder="0" scrolling="no" seamless=""></iframe>
    <h6 style="text-align: left;"><a href="https://docs.google.com/spreadsheets/d/16dJ5DPH_N80NXn76Gh9CwV-t4IOe146w6IzATBrLJS8/edit?usp=sharing" target="_blank">[ACCESS FULL DATASET]</a></h6>

    <hr />

    <h3>Child Poverty in the Different Local Authorities of Greater Manchester</h3>
    <ul>
        <li>More than one third (39.27 per cent) of the children in the City of Manchester lived in poverty in 2013. The lowest proportions of children living in poverty were in Stockport and Trafford (Chart 2).</li>
    </ul>
    <ul>
        <li> Salford (30.45 percent), Rochdale (32.4 percent), Oldham (34.11 percent) and Manchester (39.24 percent) are the four local authorities in which almost one third of the children lived in poverty in 2013.  (Chart 2 &amp; Map 1).</li>
    </ul>
    <table border="0" width="100%">
        <tbody>
            <tr>
                <td bgcolor="#EEEEED">Chart 2: The Highest Child Poverty Rate in 2013 was in the city of Manchester (39.3 per cent).</td>
            </tr>
        </tbody>
    </table>
    <iframe src="http://docs.google.com/spreadsheets/d/16dJ5DPH_N80NXn76Gh9CwV-t4IOe146w6IzATBrLJS8/gviz/chartiframe?oid=1383477928" width="583" height="288" frameborder="0" scrolling="no" seamless=""></iframe>
    <h6 style="text-align: left;"><a href="https://docs.google.com/spreadsheets/d/16dJ5DPH_N80NXn76Gh9CwV-t4IOe146w6IzATBrLJS8/edit?usp=sharing" target="_blank">[ACCESS FULL DATASET]</a></h6>
    <table border="0" width="100%">
        <tbody>
            <tr>
                <td bgcolor="#EEEEED">Map 1: Highest child poverty rate in 2013 was in Manchester (39.24 per cent).
                    <a href="../assets/childrenLA-1024x724.png"><img class="alignnone size-large wp-image-888" src="../assets/childrenLA-1024x724.png" alt="childrenLA" width="1024" height="724" /></a>
                </td>
            </tr>
        </tbody>
    </table>

    <hr />

    <ul>
        <li>The Coldhurst ward in Oldham had the highest rate of child poverty in Greater Manchester in 2013 at 51.27 per cent followed by the Moss Side ward in the Manchester city at 49.43 per cent (Map 2).</li>
    </ul>
    <table border="0" width="100%">
        <tbody>
            <tr>
                <td bgcolor="#EEEEED">Map 2: Highest rate of child poverty was concentrated around Manchester, Oldham and Rochdale in 2013.
                    <a href="../assets/child-1024x723.png"><img class="alignnone size-large wp-image-828" src="../assets/child-1024x723.png" alt="child" width="1024" height="723" /></a>
                </td>
            </tr>
        </tbody>
    </table>

    <hr />

    <h3>More about this indicator</h3>
    <ul>
        <li>The government does not regularly produce small area measures of child poverty. We therefore use this indicator produced by the End Child Poverty campaign, which produces estimates for mid 2013. The indicator uses tax credit data to give the percentage of children on low incomes in local authorities, parliamentary constituencies and wards across the UK. Children are classified as being in poverty if they live in families in receipt of out of work benefits or in receipt of in-work tax credits where their reported income is less than 60 per cent of median income. Figures have been updated using regional trends in worklessness, so this is an estimate not a direct measure. The data relates to income after housing costs. For more details see: <a href="http://www.endchildpoverty.org.uk/why-end-child-poverty/poverty-in-your-area">http://www.endchildpoverty.org.uk/why-end-child-poverty/poverty-in-your-area</a>.</li>
    </ul>
</div>
