      <div id="indicator-details" class="wrap main-section container" role="document">

          <h1 id="indicator-name">...loading indicator information...</h1>

          <div id="indicator-description"></div>

          <div class="links">
              Links:
              <ul>
                  <li><a href="/poverty-monitor/indicator-visualisations?level=local-authority-and-region">Visualisations</a> of this indicator and others for Greater Manchester</li>
              </ul>
          </div>
      </div>

