      <div id="indicator-description" class="wrap main-section container" role="document">

          <h1 id="indicator-name">...loading indicator information...</h1>

          <h2>What is this indicator?</h2>
          <div class="what-is-this-indicator"> </div>

          <h2>How is the indicator calculated?</h2>
          <div class="how-is-the-indicator-calculated"> </div>

          <h2>What unit is used?</h2>
          <div class="what-unit-is-used"> </div>

          <h2>When was the latest data measured?</h2>
          <div class="when-was-the-latest"> </div>

          <h2>What date range of data is available?</h2>
          <div class="what-date-range"> </div>

          <h2>How often is the data be updated?</h2>
          <div class="how-often"> </div>

          <h2>What geographic areas does the indicator cover?</h2>
          <div class="what-geographic-areas"> </div>

          <h2>What else should I know?</h2>
          <div class="what-else-should-i-know"> </div>

          <h2>Where is the data from?</h2>
          <div class="where-is-the-data-from"> </div>

          <div class="links">
              Links:
              <ul>
                  <li><a href="/poverty-monitor/indicator-visualisations?level=local-authority-and-region">Visualisations</a> of this indicator and others for Greater Manchester</li>
              </ul>
          </div>
      </div>

