<div id="landing-page" class="wrap main-section container" role="document">

    <h1>Greater Manchester Poverty Monitor</h1>

    <p>
        This Poverty Monitor is designed to help people concerned about poverty in Greater Manchester
        to monitor the level of poverty and its distribution across the city.
        It has been developed jointly by Greater Manchester Poverty Action and the University of Manchester.
    </p>

    <div class="featured highlighted">
        <h2>Quick links</h2>
        <ul>
            <li><a href="/poverty-monitor/indicator-descriptions/all">About the indicators</a></li>
            <li><a href="/poverty-monitor/indicator-visualisations/?level=local-authority">What the data shows</a></li>
<!--             <li><a href="/poverty-in-gm-november-2014/">The November 2014 Poverty Monitor Report</a></li> -->
        </ul>
    </div>

    <p>
        Households in the UK are officially recognised as being in poverty if their incomes are less than 60%
        of the median (middle) income, adjusted for household size.  These figures are published annually by
        the government.  The Institute for Fiscal Studies produces forecasts for future years.   But these data
        are not available below regional level.   A three year average for 2011/12 to 2013/14 showed that
        showed that 1.5 million (21%) of the population of the North West, and 30% of children were in
        poverty, after housing costs.
    </p>
    <p>To piece together a picture of poverty at a local level, we have to rely on a range of different data.
        Many of these are statistics about people claiming various means-tested benefits.  We can also look
        at some of the causes of poverty, such as unemployment and low pay, as well other indicators of the
        extent to which people are struggling on low incomes, such as levels of fuel poverty.
    </p>
    <p>
        The indicators presented here are shown in graph form and mapped down the lowest level possible,
        and for the latest date (usually 2014 or 2015).  We also show the distribution of multiple deprivation,
        using the English Indices of Deprivation 2015.
    </p>
    <p>
        During 2016, we will be redesigning the poverty monitor to take account of the many changes in
        benefits currently occurring, and adding trend data and a wider range of indicators.  We welcome
        your suggestions.
    </p>

</div>

